
.login{margin-left:100px;}
.login-box{
	width:391px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:23px 20px 19px 21px;
	
	font:16px/18px Arial, Helvetica, sans-serif;
}
.holder{
	position:relative;
}
.facebook{
	display:block;
	border:1px solid #3b579d;
	-webkit-box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.2) inset;
	background: rgb(88,112,172);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NzBhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjU3OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(88,112,172,1) 0%, rgba(59,87,157,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,112,172,1)), color-stop(100%,rgba(59,87,157,1)));
	background: -webkit-linear-gradient(top, rgba(88,112,172,1) 0%,rgba(59,87,157,1) 100%);
	background: -o-linear-gradient(top, rgba(88,112,172,1) 0%,rgba(59,87,157,1) 100%);
	background: -ms-linear-gradient(top, rgba(88,112,172,1) 0%,rgba(59,87,157,1) 100%);
	background: linear-gradient(to bottom, rgba(88,112,172,1) 0%,rgba(59,87,157,1) 100%);
	text-align:center;
	position:relative;
	padding:14px 30px 16px 32px;
	margin-bottom:13px;
	color:#fff;
}
.facebook.error{
	background:#b1bcd8;
	border:1px solid #d2161a;
}
.google.error{
	background:#f1b7b0;
	border:1px solid #d2161a;
}
.facebook.error:before,
.google.error:before{
	content:"";
	position:absolute;
	top:14px;
	right:7px;
	width:21px;
	height:21px;
	background: url(/images/error-ico.png) no-repeat;
}
.facebook:after{
	content:"";
	position:absolute;
	top:13px;
	left:13px;
	width:11px;
	height:23px;
	background: url(/images/facebook-ico.png) no-repeat;
}
.google{
	display:block;
	border:1px solid #dd4b39;
	-webkit-box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.2) inset;
	background: #e26657;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyNjY1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDRiMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e26657 0%, #dd4b39 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e26657), color-stop(100%,#dd4b39));
	background: -webkit-linear-gradient(top, #e26657 0%,#dd4b39 100%);
	background: -o-linear-gradient(top, #e26657 0%,#dd4b39 100%);
	background: -ms-linear-gradient(top, #e26657 0%,#dd4b39 100%);
	background: linear-gradient(to bottom, #e26657 0%,#dd4b39 100%);
	text-align:center;
	position:relative;
	padding:14px 42px 16px;
	margin-bottom:29px;
	color:#fff;
}
.google:after{
	content:"";
	position:absolute;
	top:13px;
	left:10px;
	width:24px;
	height:23px;
	background: url(/images/google-ico.png) no-repeat;
}
.login-box .heading{
	width:100%;
	overflow:hidden;
	text-align:center;
	font:12px/16px Arial, Helvetica, sans-serif;
	color:#d4d4d4;
	margin-bottom:26px;
}
.login-box .heading span{
	margin:0;
	display:inline-block;
	padding:0 8px;
	position:relative;
}
.login-box .heading span:before,
.login-box .heading span:after{
	position:absolute;
	right:100%;
	top:50%;
	height:1px;
	content:'';
	width:999px;
	background:#d4d4d4;
	text-align:left;
	margin-top:-1px;
}
.login-box .heading span:after{
	left:100%;
	right:auto;
}
.input-holder{
	margin-bottom:13px;
	position:relative;
	padding:3px 35px;
	border:1px solid #d7d7d7;
	-webkit-box-shadow:0 2px 1px 0 rgba(00,00,00,0.05) inset;
	box-shadow:0 2px 1px 0 rgba(00,00,00,0.05) inset;
	background: url(/images/user-ico2.png) no-repeat 6px 9px;
}
.input-holder.password{background: url(/images/password-ico2.png) no-repeat 9px 8px;}
.input-holder.parent-focus{background: url(/images/user-ico.png) no-repeat 6px 9px;}
.input-holder.password.parent-focus{background: url(/images/password-ico.png) no-repeat 9px 8px;}
.input-holder.parent-focus{
	-webkit-box-shadow: 0 0 0 3px #cbddee, 0 2px 1px 0 rgba(00,00,00,0.05) inset;
	box-shadow: 0 0 0 3px #cbddee, 0 2px 1px 0 rgba(00,00,00,0.05) inset;
	border-radius:1px;
	border:1px solid #3077bb;
}
.input-holder.error:before{
	content:"";
	position:absolute;
	top:8px;
	right:7px;
	width:21px;
	height:21px;
	background: url(/images/error-ico.png) no-repeat;
	z-index:2;
}
.login-form input[type="text"],
.login-form input[type="password"]{
	width:100%;
	height:31px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:7px 0 7px;
	color:#959595;
	position:relative;
	outline:none;
	position:relative;
	border:none;
}
.input-placeholder-text{
	position:absolute;
	left:36px;
	top:11px;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#959595 !important;
	z-index:4;
}
.input-holder.parent-focus input[type="text"],
.input-holder.parent-focus  input[type="password"]{color:#465564;}
.input-holder.error input[type="text"],
.input-holder.error input[type="password"]{
	color:#465564 !important;
	background:#fae7e8;
}
.input-holder.parent-focus .input-placeholder-text,
.input-holder.error .input-placeholder-text{color:#465564 !important;}
.input-holder.error,
.input-holder.parent-focus.error{
	border:1px solid #d2161a;
	background:#fae7e8 url(/images/user-ico.png) no-repeat 6px 9px;
}
.input-holder.password.error{background:#fae7e8 url(/images/password-ico.png) no-repeat 9px 8px;}
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important;
}
.chk-area {
	background: url(/images/checkbox.png) no-repeat;
	margin: 10px 11px 0 0;
	float: left;
	width: 16px;
	height: 16px;
}
.chk-checked {background: url(/images/checkbox-active.png) no-repeat;}
.login-form label{
	font:10px/12px Arial, Helvetica, sans-serif;
	color:#959595;
	text-transform:uppercase;
	margin-top:13px;
	display:inline-block;
	vertical-align:top;
	max-width:220px;
}
.login-form input[type="submit"]{
	width:87px;
	height:34px;
	border:1px solid #ea8216;
	cursor:pointer;
	float:right;
	background: #ed9539;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTUzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTgyMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ed9539 0%, #ea8216 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9539), color-stop(100%,#ea8216));
	background: -webkit-linear-gradient(top, #ed9539 0%,#ea8216 100%);
	background: -o-linear-gradient(top, #ed9539 0%,#ea8216 100%);
	background: -ms-linear-gradient(top, #ed9539 0%,#ea8216 100%);
	background: linear-gradient(to bottom, #ed9539 0%,#ea8216 100%);
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ea8216;
	-webkit-box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.3) inset;
	box-shadow: 0 1px 1px 0 rgba(00,00,00,0.15), 0 1px 0 0 rgba(255,255,255,0.3) inset;
	padding:1px 0 0;
	margin:0;
}
.login-form .box{
	padding:18px 0 24px 10px;
	overflow:hidden;
}
.login-box .block{
	overflow:hidden;
	font:12px/14px Arial, Helvetica, sans-serif;
	padding:0 0 0 4px;
}
.login-box .block a{
	float:left;
	max-width:50%;
	color:#3077bb;
}
.login-box .block .join{
	float:right;
	text-align:right;
}
.tooltip{
	position:absolute;
	left:100%;
	top:-3px;
	font:14px/17px Arial, Helvetica, sans-serif;
	color:#fff;
	width:137px;
	background:#d2161a;
	margin-left:9px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:11px 13px;
	-webkit-box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	display:none;
}
.input-holder .tooltip{
	width:148px;
	top:-1px;
	margin-left:10px;
	padding:10px 5px 12px 14px;
}
.tooltip:after{
	content:"";
	position:absolute;
	top:19px;
	left:-11px;
	width:11px;
	height:21px;
	background: url(/images/corner.png) no-repeat;
}
.input-holder .tooltip:after{top:10px;}
.error .tooltip,
.error+.tooltip{display:block;}
.tooltip p{margin:0;}
#fancybox-outer{border-radius:2px;}
.popup-holder {
	position: relative;
	overflow:hidden;
	height: 0;
}
#fancybox-content {overflow:visible;}
#fancybox-content > div {overflow:visible !important;}