<!DOCTYPE html>
<html ng-app="songmeanings">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SongMeanings.net</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/truncate.js"></script>
    <script src="js/ngFacebook.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link media="all" rel="stylesheet" href="css/all.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="js/lib/jquery.main.js"></script>
    <script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>

	<!--[if IE]><script src="js/lib/ie.js"></script><![endif]-->

</head>
<body ng-controller="DeezerController as deezer" id="deezer-controller">



	<div id="wrapper">
		<header id="header">
			<div class="header-holder">
				<strong class="logo"><a href="#">SongMeanings.net</a></strong>
				<div class="account">
					<a href="#" class="opener">account</a>
					<ul>
						<li><a ng-show="deezer.user == null" ng-click="deezer.smRegister = true; toggleModal();">Sign Up</a></li>
						<li class="signin"><a ng-click='deezer.modalHeight="300px";deezer.smRegister = false; toggleModal();' ng-show="deezer.user == null">Login</a><a ng-click='deezer.logout()' ng-show="deezer.user != null">Logout {{deezer.username}}</a></li>
					</ul>
				</div>
			</div>
		</header>
		<main id="main" role="main">
			<section class="album-intro">
				<div class="image-holder col">
					<span data-picture data-alt="image description">
						<span data-src="images/no-album.png" ></span>
						<span data-src="images/no-album.png" data-media="(max-width:1024px)" ></span>
						<span data-src="images/no-album.png" data-media="(max-width:1024px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:1024px) and (min-resolution:144dpi)" ></span>
						<span data-src="images/no-album.png" data-media="(max-width:767px)" ></span>
						<span data-src="images/no-album.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="images/no-album.png"></span>
						<![endif]-->
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<noscript><img src="images/no-album.png" width="200" height="200" alt="image description" ></noscript>
					</span>
				</div>
				<div class="info-holder col">
					<div class="album-info" >
						<dl ng-show="deezer.commentsLoaded">
							<dt>Artist:</dt>
							<dd><a href="{{deezer.song.artistUrl}}" target="_blank">{{deezer.song.artist}}</a></dd>
							<dt>Song:</dt>
							<dd>{{deezer.song.title}}</dd>
							<dt>Album:</dt>
							<dd>{{deezer.song.album}}</dd>
						</dl>
					</div>
					<div class="follow-block">
						<a ng-show="deezer.user == null" class="link-follow" ng-click="toggleModal();" >Follow <span>Following</span></a>
                        <a ng-show="deezer.user != null && !deezer.isFavorite" ng-click="deezer.followArtist()" class="link-follow">Follow <span>Following</span></a>
                        <a ng-show="deezer.user != null && deezer.isFavorite" ng-click="deezer.followArtist()" class="link-follow active ">Following</a>
					</div>
				</div>
				<aside class="info-list col">
					<p>{{deezer.song.snippet}}</p>
                    <p class="no-lyrics"  ng-show="!deezer.song.found && deezer.commentsLoaded"> No lyrics found.</p>

					<div class="link-holder" ng-show="deezer.song.found && deezer.commentsLoaded"><a href="{{deezer.song.snippetUrl}}" target="_blank">View Full Lyrics</a></div>
				</aside>
			</section>
			<div id="content">
				<footer class="meta-block" ng-show="deezer.song.id != undefined">
					<div class="meta-frame">
						<div class="meta-frame2">
							<div class="meta-holder" ng-hide="deezer.inReplyMode == true">
								<a ng-show="deezer.user != null && deezer.song.id != undefined" href="#" class="btn-add thoughts-opener">Add Your Thoughts</a>
                                <a ng-show="deezer.user == null && deezer.song.id != undefined" ng-click='toggleModal()' class="btn-add" >Add Your Thoughts</a>
								<strong class="title">{{deezer.song.numComments}} Comments</strong>
								<div class="filter">
									<a class="filter-opener" href="#">Filter <span>by Category</span></a>
								</div>
								<div class="sort">
									<a href="#" class="sort-opener">Sort</a>
									<ul>
										<li class="{{deezer.ratingActive}}"><a ng-click="deezer.updateSort('rating')">Highest Rated</a></li>
										<li class="{{deezer.ascActive}}"><a ng-click="deezer.updateSort('asc')">Oldest First</a></li>
										<li class="{{deezer.descActive}}"><a ng-click="deezer.updateSort('desc')">Newest First</a></li>
									</ul>
								</div>
							</div>
                            <div class="meta-holder" ng-show="deezer.inReplyMode == true" id="reply-holder">
                                <a class="btn-add" ng-click="deezer.backToComments()">Back to Comments</a>
                                <a ng-show="deezer.user != null && deezer.song.id != undefined" href="#" class="btn-add thoughts-opener orange">Add Your Thoughts</a>
                                <a ng-show="deezer.user == null && deezer.song.id != undefined" ng-click='toggleModal()' class="btn-add orange" >Add Your Thoughts</a>

                            </div>
							<div class="slide-holder" ng-hide="deezer.inReplyMode == true">
								<div class="slide-filter">
									<ul>
									<li><a ng-click="deezer.updateCategory(4)">General Comment</a></li>
									<li><a ng-click="deezer.updateCategory(5)">Favorite</a></li>
									<li><a ng-click="deezer.updateCategory(5)">Memory</a></li>
									<li><a ng-click="deezer.updateCategory(6)">Interpretation</a></li>
									<li><a ng-click="deezer.updateCategory(7)">Song Meaning</a></li>
									<li><a ng-click="deezer.updateCategory(8)">My Opinion</a></li>
									<li><a ng-click="deezer.updateCategory(9)">Translation</a></li>
									<li><a ng-click="deezer.updateCategory(13)">Link(s)</a></li>
									<li class="last"><a ng-click="deezer.updateCategory(14)">Song Comparison</a></li>
								</ul>
								<div class="slide-nav-mobile">
									<ul>
										<li><a ng-click="deezer.updateCategory(4)">General Comment</a></li>
										<li><a ng-click="deezer.updateCategory(5)">Favorite</a></li>
										<li><a ng-click="deezer.updateCategory(5)">Memory</a></li>
										<li><a ng-click="deezer.updateCategory(6)">Interpretation</a></li>
										<li><a ng-click="deezer.updateCategory(7)">Song Meaning</a></li>
									</ul>
									<ul>
										<li><a ng-click="deezer.updateCategory(8)">My Opinion</a></li>
										<li><a ng-click="deezer.updateCategory(9)">Translation</a></li>
										<li><a ng-click="deezer.updateCategory(13)">Link(s)</a></li>
										<li class="last"><a ng-click="deezer.updateCategory(14)">Song Comparison</a></li>
									</ul>
								</div>
								<div class="slide-nav-tablet">
									<ul>
										<li><a ng-click="deezer.updateCategory(4)">General Comment</a></li>
										<li><a ng-click="deezer.updateCategory(5)">Favorite</a></li>
										<li><a ng-click="deezer.updateCategory(5)">Memory</a></li>
									</ul>
									<ul>
										<li><a ng-click="deezer.updateCategory(6)">Interpretation</a></li>
										<li><a ng-click="deezer.updateCategory(7)">Song Meaning</a></li>
										<li><a ng-click="deezer.updateCategory(8)">My Opinion</a></li>
									</ul>
									<ul>
										<li><a ng-click="deezer.updateCategory(9)">Translation</a></li>
										<li><a ng-click="deezer.updateCategory(13)">Link(s)</a></li>
										<li class="last"><a ng-click="deezer.updateCategory(14)">Song Comparison</a></li>
									</ul>
								</div>
								</div>
								<div class="slide-sort">
									<ul>
										<li><a ng-click="deezer.updateSort('rating')">Highest Rated</a></li>
										<li><a ng-click="deezer.updateSort('asc')">Oldest First</a></li>
										<li class="active"><a ng-click="deezer.updateSort('desc')">Newest First</a></li>
									</ul>
								</div>
								<form action="#" class="slide-thoughts">
									<div class="thoughts-holder">

                                        <div class="comment-error" ng-show="deezer.comment.errorMsg != ''">{{deezer.comment.errorMsg}}</div>
										<div class="thoughts-left">
											<div class="tag-block">
												<textarea placeholder="Add your tags here. Separate with commas." ng-model="deezer.comment.tags"></textarea>
											</div>
											<div class="select-holder">
												<select title="Choose a Catagory" ng-model="deezer.comment.category" ng-options="obj.value for obj in deezer.comment.options track by obj.id"></select>
											</div>
										</div>
										<div class="thoughts-right">
											<span class="pro-photo">
												<!--
                                                <span data-width="32" data-height="32" data-picture data-alt="image description">
												<span data-width="32" data-height="32" data-src="images/thumb1.jpg" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet.jpg" data-media="(max-width:1024px)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet2x.jpg" data-media="(max-width:1024px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:1024px) and (min-resolution:144dpi)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet.jpg" data-media="(max-width:767px)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
													<!--<span data-src="images/thumb1.jpg"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<!-- <noscript><img src="images/thumb1.jpg" width="32" height="32" alt="image description" ></noscript> -->
											</span>
											</span>
											<textarea placeholder="Add your thoughts here..." ng-model="deezer.comment.thoughts"></textarea>
											<input class="button" type="button" value="Post" ng-click="deezer.postReply()">
										</div>
									</div>
								</form>
							</div>
                            <div class="slide-holder" ng-show="deezer.inReplyMode == true">
                                <form id="replyform" action="#" class="slide-thoughts">
                                    <div class="thoughts-holder">

                                        <div class="comment-error" ng-show="deezer.comment.errorMsg != ''">{{deezer.comment.errorMsg}}</div>
                                        <div class="thoughts-left">
                                            <div class="tag-block">
                                                <div></div>
                                            </div>

                                        </div>
                                        <div class="thoughts-right">
											<span class="pro-photo">
												<!--
                                                <span data-width="32" data-height="32" data-picture data-alt="image description">
												<span data-width="32" data-height="32" data-src="images/thumb1.jpg" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet.jpg" data-media="(max-width:1024px)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet2x.jpg" data-media="(max-width:1024px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:1024px) and (min-resolution:144dpi)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet.jpg" data-media="(max-width:767px)" ></span>
												<span data-width="32" data-height="32" data-src="images/thumb1-tablet2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
                                                <!--<span data-src="images/thumb1.jpg"></span>
                                            <![endif]-->
                                                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<!-- <noscript><img src="images/thumb1.jpg" width="32" height="32" alt="image description" ></noscript> -->
											</span>
                                            </span>
                                            <textarea placeholder="Add your thoughts here..." ng-model="deezer.comment.thoughts"></textarea>
                                            <input class="button" type="button" value="Post" ng-click="deezer.postReply()">
                                        </div>
                                    </div>
                                </form>
                            </div>
						</div>
                    </div>

				</footer>
                <div class="no-comments" ng-show="deezer.song.numComments == 0 && deezer.commentsLoaded">
                    <div class="comments-list">
                        <article class="comments-item">
                            No comments.
                        </article>
                    </div>
                </div>
				<div class="scrollable-area comments-area">

                    <div class="thespinner" ng-hide="deezer.commentsLoaded"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
                    <div class="comments-display-text"  ng-show="deezer.commentsLoaded && deezer.hasComments">Displaying Page {{deezer.navigation.pageCurrent}} of {{deezer.navigation.pageTotal}}<a name="comments-display-text"></a></div>

                    <div class="comments-list">
                        <article id="reply" class="comments-item reply" ng-show="deezer.inReplyMode == true && deezer.commentsLoaded">
                            <div class="add-info">
                                <footer>
                                    <strong class="title"><a href="{{deezer.currentComment.userUrl}}" target="_blank">{{deezer.currentComment.user}}</a></strong>
                                    <time class="date">{{deezer.currentComment.date | date : format : timezone}}</time>
                                </footer>
                                <div class="sub-title">
                                    <span>{{deezer.currentComment.type}} Comment:</span>
                                     </div>
                                <p>
                                     <span ng-bind-html="deezer.currentComment.body | newlines | unsafe"></span>
                                </p>
                            </div>
                            <div class="rating-holder">
                                <strong class="title"><span>Original </span>Comment</strong>

                            </div>
                        </article>
						<article class="comments-item" ng-repeat="comment in deezer.comments">
							<div class="add-info">
								<footer>
									<strong class="title"><a href="{{comment.userUrl}}" target="_blank">{{comment.user}}</a></strong>
									<time class="date">{{comment.date | date : format : timezone}}</time>
									<div class="links" ng-hide="deezer.inReplyMode">
										<a ng-click="deezer.showCommentReplies(deezer.comments.indexOf(comment),false)">{{comment.replies}} Replies</a>
                                        <!--
                                        <span class="leave-reply">  <a ng-click="deezer.showCommentReplies(deezer.comments.indexOf(comment),true)">Leave Your Reply</a></span>
                                        -->
                                     </div>
                                 </footer>
                                 <div class="sub-title">
                                     <span>{{comment.type}} Comment:</span>
                                     <a ng-hide="comment.flagged" ng-click="deezer.flagComment(deezer.comments.indexOf(comment))" class="link-flag"><i class="fa fa-flag fa-2"></i></a>
                                     <a ng-show="comment.flagged" class="link-flag active"><i class="fa fa-flag fa-2"></i></a>
                                 </div>
                                 <p>
                                     <span ng-hide="comment.expanded" ng-bind-html="comment.body | words:35 | newlines | unsafe"></span>
                                     <a ng-show="deezer.getCommentWordCount(comment) > 35 && comment.expanded == false" ng-click="deezer.expandComment(deezer.comments.indexOf(comment))">Expand Comment</a>
                                     <span ng-bind-html="comment.body | newlines | unsafe" ng-show="comment.expanded"></span>
                                 </p>
                             </div>
                             <div class="rating-holder">
                                 <strong class="title"><span>Comment </span>Rating</strong>
                                 <div class="count">{{comment.rating}}</div>
                                 <nav class="action">
                                     <ul ng-show="deezer.user == null">
                                         <li class="minus"><a ng-click='toggleModal()'>-</a></li>
                                         <li><a ng-click='toggleModal()'>+</a></li>
                                     </ul>
                                     <ul ng-show="deezer.user != null">
                                         <li class="minus"><a ng-click="deezer.updateCommentRating(deezer.comments.indexOf(comment),'down')">-</a></li>
                                         <li><a ng-click="deezer.updateCommentRating(deezer.comments.indexOf(comment),'up')">+</a></li>
                                     </ul>
                                 </nav>
                             </div>
                         </article>

                     </div>
                     <div class="meta-block"  ng-show="deezer.commentsLoaded && deezer.hasComments && deezer.navigation.pageTotal > 1">
                         <a class="btn-add arrow-left" ng-click="deezer.prevPage()">&leftarrow; Previous Page</a>  <a class="btn-add arrow-right" ng-click="deezer.nextPage()" href="#comments-display-text">Next Page &rightarrow;</a>
                    </div>
				</div>
            </div>
		</main>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-info">
					<p>Non-lyrical content copyright 1999-2014 SongMeanings <br>In partnership with <a href="#">ToneMedia</a></p>
				</div>
				<ul class="social-networks">
					<li><a href="#" class="facebook">Facebook</a></li>
					<li><a href="#" class="twitter">Twitter</a></li>
					<li><a href="#" class="google">GooglePlus</a></li>
					<li><a href="#" class="youtube">YouTube</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<a href="#wrapper" class="back-top">Back to Top</a>
			</div>
		</footer>
	</div>
    <modal-dialog id="the-modal" show='modalShown' width='400px' height='{{deezer.modalHeight}}'>


        <div class="login-holder">
            <div class="login-info" ng-show="deezer.modalLoginShown == false">
                <div class="thespinner">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>

                </div>
            </div>
            <div class="login-info" ng-show="deezer.modalLoginShown">
                <div class="login-error" ng-show="deezer.loginMsg != ''">{{deezer.loginMsg}}</div>
                <dl ng-show="deezer.fbRegister == false && deezer.smRegister == false">
                    <form name="loginForm" role="form">
                        <dt>Username:</dt>
                        <dd><input ng-model="deezer.username"></dd>
                        <dt>Password:</dt>
                        <dd class="ng-binding"><input ng-model="deezer.password" type="password"></dd>
                        <dt></dt>
                        <dd class="ng-binding"><button class="button login" ng-click="deezer.login();" type="button">Login</button></dd>
                    </form>
                </dl>
                <dl ng-show="deezer.fbRegister == true && deezer.smRegister == false">
                    <form name="loginForm" role="form">
                        <dt>Username:</dt>
                        <dd><input ng-model="deezer.fbUsername"></dd>
                        <dt></dt>
                        <dd class="ng-binding"><button class="button login" ng-click="deezer.registerFB();" type="button">Register</button></dd>
                    </form>
                </dl>
                <dl ng-show="deezer.smRegister">
                    <form name="loginForm" role="form">
                        <dt>Email:</dt>
                        <dd><input ng-model="deezer.email"></dd>
                        <dt>Username:</dt>
                        <dd><input ng-model="deezer.username"></dd>
                        <dt>Password:</dt>
                        <dd class="ng-binding"><input ng-model="deezer.password" type="password"></dd>
                        <dt>Re-Enter Password:</dt>
                        <dd class="ng-binding"><input ng-model="deezer.repassword" type="password"></dd>
                        <dt></dt>
                        <dd class="ng-binding"><button class="button login" ng-click="deezer.registerSM();" type="button">Register</button></dd>
                    </form>
                </dl>


            </div>
        </div>
            <div class="fblogin-info" ng-show="deezer.fbRegister == false">
                    <button class="button" ng-click="deezer.smRegister=false; fbRegister=true; deezer.loginFB();"><i class="fa fa-facebook-square fa-2"></i> Facebook Login</button>
            </div>
        </form>
    </modal-dialog>

    fbRegister: {{deezer.fbRegister}}<br>
    smRegister: {{deezer.smRegister}}<br>
    modalLoginShown: {{deezer.modalLoginShown}}<br>
    height: {{deezer.modalHeight}}

    <script>

        $(document).ready(function(){

            var scope = angular.element(document.getElementById("deezer-controller")).scope();

            DZ.init({
                appId  : '137783',
                channelUrl : 'http://deezer.songmeanings.com/',
                player : {
                    onload : function() {
                        //console.log("DZ.init player.onload", arguments);
                        // Callback function is called when the currently playing track has changed
                        DZ.Event.subscribe('current_track', function(track, evt_name){
                            console.log("Currently playing track", track["track"]);
                            var deezerData = {
                                artist: track["track"]["artist"]["name"],
                                album: track["track"]["album"]["title"],
                                title: track["track"]["title"]
                            };

                            scope.$apply(function () {
                                scope.updateSong(deezerData);
                            });


                        });
                    }
                }
            });

            DZ.ready(function() {
                trackobj = arguments[0]["player"]["current_track"];
                console.log("DZ.ready");
                console.log(arguments);
                var deezerData = {
                    artist: trackobj["artist"]["name"],
                    album: trackobj["album"]["title"],
                    title: trackobj["title"]
                };

                scope.$apply(function () {
                    scope.updateSong(deezerData);
                });
            });


        });

    </script>

</body>
</html>